In [2]:
import pandas as pd
import numpy as np

In [6]:
# pd.DataFrame(veri,index=..,columns=...)
veri_tablosu = pd.DataFrame([['d',7,3],['a',2,3],['s',3,6],['a',3,7]],index=['A','B','C','D'],columns=['X','Y','Z'])
print(veri_tablosu)

   X  Y  Z
A  d  7  3
B  a  2  3
C  s  3  6
D  a  3  7

In [7]:
veri_tablosu.info() # info() Data frame hakkında bilgi verir.

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, A to D
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   X       4 non-null      object
 1   Y       4 non-null      int64
 2   Z       4 non-null      int64
dtypes: int64(2), object(1)
memory usage: 128.0+ bytes

In [8]:
veri_tablosu

   X  Y  Z
A  d  7  3
B  a  2  3
C  s  3  6
D  a  3  7

In [9]:
veri_tablosu['Y'] # Y kolonu

A    7
B    2
C    3
D    3
Name: Y, dtype: int64

In [12]:
df_xz = veri_tablosu[['X','Z']] # birden fazla data frame kolonu

In [13]:
df_xz

   X  Z
A  d  3
B  a  3
C  s  6
D  a  7

In [14]:
veri_tablosu

   X  Y  Z
A  d  7  3
B  a  2  3
C  s  3  6
D  a  3  7

In [15]:
# B ve C satırlarını seçmek için
veri_tablosu.loc[['B','D']]

   X  Y  Z
B  a  2  3
D  a  3  7

In [16]:
veri_tablosu.loc['A']

X    d
Y    7
Z    3
Name: A, dtype: object

In [17]:
# index isimleri yerine index numaralarını kullanmak için iloc
veri_tablosu.iloc[[1,3]]

   X  Y  Z
B  a  2  3
D  a  3  7

In [18]:
veri_tablosu

   X  Y  Z
A  d  7  3
B  a  2  3
C  s  3  6
D  a  3  7

In [19]:
# X, ve Z kolonlar + B ve D satırları seçilsin:
veri_tablosu[['X','Z']].loc[['B','D']]

   X  Z
B  a  3
D  a  7

In [20]:
# X, ve Z kolonlar + B ve D satırları seçilsin:
# iloc ile seçim?
veri_tablosu[["X","Z"]].iloc[[1,3]] # Mertcan

   X  Z
B  a  3
D  a  7

In [21]:
veri_tablosu.iloc[[1, 3]][['X','Z']] # Bilal

   X  Z
B  a  3
D  a  7

In [22]:
# Koşullu Seçim
veri_tablosu

   X  Y  Z
A  d  7  3
B  a  2  3
C  s  3  6
D  a  3  7

In [23]:
veri_tablosu[veri_tablosu['Z']>5] # Z kolon değeri 5'den büyük olan kayıtları seç

   X  Y  Z
C  s  3  6
D  a  3  7

In [24]:
veri_tablosu['Z']>5

A    False
B    False
C     True
D     True
Name: Z, dtype: bool

In [25]:
# X kolon değeri 'a' olan kayıtları
veri_tablosu[veri_tablosu['X']=='a']

   X  Y  Z
B  a  2  3
D  a  3  7

In [26]:
veri_tablosu

   X  Y  Z
A  d  7  3
B  a  2  3
C  s  3  6
D  a  3  7

In [27]:
# Z kolonu 5'ten küçük VE Y kolonu 3'den büyük olan kayıt?
veri_tablosu[(veri_tablosu['Z']<5) & (veri_tablosu['Y']>3)]

   X  Y  Z
A  d  7  3

In [29]:
# Alternatif yok Numpy ile
veri_tablosu[np.logical_and(veri_tablosu['Z']<5, veri_tablosu['Y']>3)]

   X  Y  Z
A  d  7  3

In [36]:
veri_tablosu[(veri_tablosu['Z']<5) & (veri_tablosu['Y']>3)]['X'] # koşulları sağlayan kayıtın 'X' değeri

A    d
Name: X, dtype: object

In [35]:
veri_tablosu[(veri_tablosu['Z']<5) & (veri_tablosu['Y']>3)][['X']] # koşulları sağlayan kayıtın 'X' değeri

   X
A  d

In [37]:
veri_tablosu

   X  Y  Z
A  d  7  3
B  a  2  3
C  s  3  6
D  a  3  7

In [38]:
# Yeni bir kolon eklemek için
veri_tablosu['W']=[9, 2, 5, 9] # data_frame['yeni_kolon_ad']=[degerler...]

In [39]:
veri_tablosu

   X  Y  Z  W
A  d  7  3  9
B  a  2  3  2
C  s  3  6  5
D  a  3  7  9

In [40]:
# Alıştırma: 
# veri_tablosu data frame'inde W kolon değeri 4'ten büyük, Y değeri 5'ten küçük, Z değeri 6'dan büyük X değeri kaçtır?

In [42]:
veri_tablosu[(veri_tablosu["W"] > 4) & (veri_tablosu["Y"] < 5) & (veri_tablosu["Z"] > 6)][['X']] # Mertcan

   X
D  a

In [44]:
veri_tablosu[(veri_tablosu['W']>4) & (veri_tablosu['Y']<5) & (veri_tablosu['Z']>6)][['X']] #Enes

   X
D  a

In [ ]:
# Numpy logical and
veri_tablosu[np.logical_and(veri_tablosu['W'] > 4, veri_tablosu['Y'] < 5, veri_tablosu['Z'] > 6)][['X']]